
<br />
<br />
<div class="ml-5 pl-5">
    <div class="container mt-5 mr-5">
        <div class="row mr-5">
            <div class="col-6">
                
                <h1>An exciting place for the whole family to shop.</h1>
                <br>
                <p>Shop at anytime and anywhere. From the world's best brands, to your dining table. We stock a huge range of everyday items, to suit your needs.</p>
                <br />
                <div class="ml-4 pl-4">
                    <a asp-action="ProductCategories" asp-controller="Products" class="btn btn-primary btn-lg">Shop now</a>
                </div>

            </div>
            <div class="col-6 ml-0 lp-0">
                <img src="~/Images/ProjectImages/homePage1.png" style="width:80%;" class="">
            </div>
        </div>
    </div>
</div>
