<br />
<div class="container text-center">
    <div class="row mb-4 mt-5">

        <a asp-action="Index" asp-controller="ProductPromotions" class="btn  btn-lg btn-block text-center" style="height:200px; background-color: #f0d2d1;"><h3 class="mt-5 mb-5">Individual product promotions</h3></a>

    </div>
    <div class="row mt-4 mb-5">

        <a asp-action="Index" asp-controller="ProductCategoryPromotions" class="btn  btn-lg btn-block text-center" style="height: 200px; background-color: #c7d6d5;">
            <h3 class="mt-5 mb-5">Product category promotions</h3>
        </a>

    </div>

</div>